In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data
import yfinance as yf
import yahoofinancials as yahoo_get
from yahoofinancials import YahooFinancials
import yahoo_finance as y_f
import pandas_datareader.data as web
import datetime 
import requests

In [2]:
# Descargar la lista de empresas del índice S&P 500
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500_symbols = sp500.Symbol.to_list()

# Descargar los datos de las empresas del índice S&P 500
sp500_data = yf.download(sp500_symbols, start='2000-01-01', end='2022-02-28')

# Guardar los datos descargados en un archivo csv
sp500_data.to_csv('sp500_data.csv')

[************          25%                       ]  124 of 503 completed

In [ ]:
# Definir la URL de la página de Wikipedia con la tabla de las compañías SP500
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

# Descargar la tabla de las compañías SP500 como un objeto DataFrame de pandas
table = pd.read_html(url, header=0)[0]

In [ ]:
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:
table = table.sort_values(by=['Symbol'], ascending=True)

In [ ]:
table=table.reset_index(drop=True)
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:

new = table['Symbol'].tolist()
new

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BMY',
 'BR',
 'BRK.B',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FSLR',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GEHC',
 'GEN',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'L',
 'LDOS',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PARA',
 'PAYC',
 'PAYX',
 'PCAR',
 'PCG',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCHW',
 'SEDG',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TXN',
 'TXT',
 'TYL',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VMC',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XRAY',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [ ]:
for i in range(len(new)):
    if new[i] == 'BRK.B':
        new[i] = 'BRK-B'
    elif new[i] == 'BF.B':
        new[i] = 'BF-B'

In [ ]:
table['new'] = new
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,new
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999,A
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934,AAL
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932,AAP
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977,AAPL
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),ABBV
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,YUM
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,ZBH
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,ZBRA
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,ZION
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,ZTS

In [ ]:
last_col = table.pop('new')
table.insert(0, 'new', last_col)
table

,new,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...,...
498,YUM,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:
table=table.drop(['Symbol'], axis=1)

In [ ]:
table = table.rename(columns={'new': 'Symbol'})
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:
Filter_by_sec=table.drop(['Headquarters Location','Date added','CIK','Founded'],axis=1)
Filter_by_sec

,Symbol,Security,GICS Sector,GICS Sub-Industry
0,A,Agilent Technologies,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals"
4,ABBV,AbbVie,Health Care,Pharmaceuticals
...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZION,Zions Bancorporation,Financials,Regional Banks
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [ ]:
Filter_by_sec.to_csv('areas_sec.csv', index=False)

In [ ]:
# Crear un diccionario que mapee los sectores a las compañías correspondientes
sector_dict = {}
for sector in table["GICS Sector"].unique():
    sector_dict[sector] = list(table[table["GICS Sector"]==sector]["Symbol"])

In [ ]:
sector_dict

{'Health Care': ['A',
  'ABBV',
  'ABC',
  'ABT',
  'ALGN',
  'AMGN',
  'BAX',
  'BDX',
  'BIIB',
  'BIO',
  'BMY',
  'BSX',
  'CAH',
  'CI',
  'CNC',
  'COO',
  'CRL',
  'CTLT',
  'CVS',
  'DGX',
  'DHR',
  'DVA',
  'DXCM',
  'ELV',
  'EW',
  'GEHC',
  'GILD',
  'HCA',
  'HOLX',
  'HSIC',
  'HUM',
  'IDXX',
  'ILMN',
  'INCY',
  'IQV',
  'ISRG',
  'JNJ',
  'LH',
  'LLY',
  'MCK',
  'MDT',
  'MOH',
  'MRK',
  'MRNA',
  'MTD',
  'OGN',
  'PFE',
  'PKI',
  'REGN',
  'RMD',
  'STE',
  'SYK',
  'TECH',
  'TFX',
  'TMO',
  'UHS',
  'UNH',
  'VRTX',
  'VTRS',
  'WAT',
  'WST',
  'XRAY',
  'ZBH',
  'ZTS'],
 'Industrials': ['AAL',
  'ALK',
  'ALLE',
  'AME',
  'AOS',
  'BA',
  'CARR',
  'CAT',
  'CHRW',
  'CMI',
  'CPRT',
  'CSGP',
  'CSX',
  'CTAS',
  'DAL',
  'DE',
  'DOV',
  'EFX',
  'EMR',
  'ETN',
  'EXPD',
  'FAST',
  'FDX',
  'FTV',
  'GD',
  'GE',
  'GNRC',
  'GWW',
  'HII',
  'HON',
  'HWM',
  'IEX',
  'IR',
  'ITW',
  'J',
  'JBHT',
  'JCI',
  'LDOS',
  'LHX',
  'LMT',
  'LUV',
  'MAS',
  'MMM',
  'NDSN',
  'NOC',
  'NSC',
  'ODFL',
  'OTIS',
  'PCAR',
  'PH',
  'PNR',
  'PWR',
  'RHI',
  'ROK',
  'ROL',
  'RSG',
  'RTX',
  'SNA',
  'SWK',
  'TDG',
  'TT',
  'TXT',
  'UAL',
  'UNP',
  'UPS',
  'URI',
  'VRSK',
  'WAB',
  'WM',
  'XYL'],
 'Consumer Discretionary': ['AAP',
  'AMZN',
  'APTV',
  'AZO',
  'BBWI',
  'BBY',
  'BKNG',
  'BWA',
  'CCL',
  'CMG',
  'CZR',
  'DG',
  'DHI',
  'DLTR',
  'DPZ',
  'DRI',
  'EBAY',
  'ETSY',
  'EXPE',
  'F',
  'GM',
  'GPC',
  'GRMN',
  'HAS',
  'HD',
  'HLT',
  'KMX',
  'LEN',
  'LKQ',
  'LOW',
  'LVS',
  'MAR',
  'MCD',
  'MGM',
  'MHK',
  'NCLH',
  'NKE',
  'NVR',
  'NWL',
  'ORLY',
  'PHM',
  'POOL',
  'RCL',
  'RL',
  'ROST',
  'SBUX',
  'TGT',
  'TJX',
  'TPR',
  'TSCO',
  'TSLA',
  'ULTA',
  'VFC',
  'WHR',
  'WYNN',
  'YUM'],
 'Information Technology': ['AAPL',
  'ACN',
  'ADBE',
  'ADI',
  'ADP',
  'ADSK',
  'AKAM',
  'AMAT',
  'AMD',
  'ANET',
  'ANSS',
  'APH',
  'AVGO',
  'BR',
  'CDAY',
  'CDNS',
  'CDW',
  'CRM',
  'CSCO',
  'CTSH',
  'DXC',
  'ENPH',
  'EPAM',
  'FFIV',
  'FIS',
  'FISV',
  'FLT',
  'FSLR',
  'FTNT',
  'GEN',
  'GLW',
  'GPN',
  'HPE',
  'HPQ',
  'IBM',
  'INTC',
  'INTU',
  'IT',
  'JKHY',
  'JNPR',
  'KEYS',
  'KLAC',
  'LRCX',
  'MA',
  'MCHP',
  'MPWR',
  'MSFT',
  'MSI',
  'MU',
  'NOW',
  'NTAP',
  'NVDA',
  'NXPI',
  'ON',
  'ORCL',
  'PAYC',
  'PAYX',
  'PTC',
  'PYPL',
  'QCOM',
  'QRVO',
  'ROP',
  'SEDG',
  'SNPS',
  'STX',
  'SWKS',
  'TDY',
  'TEL',
  'TER',
  'TRMB',
  'TXN',
  'TYL',
  'V',
  'VRSN',
  'WDC',
  'ZBRA'],
 'Financials': ['ACGL',
  'AFL',
  'AIG',
  'AIZ',
  'AJG',
  'ALL',
  'AMP',
  'AON',
  'AXP',
  'BAC',
  'BEN',
  'BK',
  'BLK',
  'BRK-B',
  'BRO',
  'C',
  'CB',
  'CBOE',
  'CFG',
  'CINF',
  'CMA',
  'CME',
  'COF',
  'DFS',
  'FDS',
  'FITB',
  'FRC',
  'GL',
  'GS',
  'HBAN',
  'HIG',
  'ICE',
  'IVZ',
  'JPM',
  'KEY',
  'L',
  'LNC',
  'MCO',
  'MET',
  'MKTX',
  'MMC',
  'MS',
  'MSCI',
  'MTB',
  'NDAQ',
  'NTRS',
  'PFG',
  'PGR',
  'PNC',
  'PRU',
  'RE',
  'RF',
  'RJF',
  'SBNY',
  'SCHW',
  'SIVB',
  'SPGI',
  'STT',
  'SYF',
  'TFC',
  'TROW',
  'TRV',
  'USB',
  'WFC',
  'WRB',
  'WTW',
  'ZION'],
 'Consumer Staples': ['ADM',
  'BF-B',
  'CAG',
  'CHD',
  'CL',
  'CLX',
  'COST',
  'CPB',
  'EL',
  'GIS',
  'HRL',
  'HSY',
  'K',
  'KDP',
  'KHC',
  'KMB',
  'KO',
  'KR',
  'LW',
  'MDLZ',
  'MKC',
  'MNST',
  'MO',
  'PEP',
  'PG',
  'PM',
  'SJM',
  'STZ',
  'SYY',
  'TAP',
  'TSN',
  'WBA',
  'WMT'],
 'Utilities': ['AEE',
  'AEP',
  'AES',
  'ATO',
  'AWK',
  'CEG',
  'CMS',
  'CNP',
  'D',
  'DTE',
  'DUK',
  'ED',
  'EIX',
  'ES',
  'ETR',
  'EVRG',
  'EXC',
  'FE',
  'LNT',
  'NEE',
  'NI',
  'NRG',
  'PCG',
  'PEG',
  'PNW',
  'PPL',
  'SO',
  'SRE',
  'WEC',
  'XEL'],
 'Materials': ['ALB',
  'AMCR',
  'APD',
  'AVY',
  'BALL',
  'CE',
  'CF',
  'CTVA',
  'DD',
  'DOW',
  'ECL',
  'EMN',
  'FCX',
  'FMC',
  'IFF',
  'IP',
  'LIN',
  'LYB',
  'MLM',
  'MOS',
  'NEM',
  'NUE',
  'PKG',
  'PPG',
  'SEE',
  'SHW',
  'STLD',
  'VMC',
  'WRK'],
 'Real Estate': ['AMT',
  'ARE',
  'AVB',
  'BXP',
  'CBRE',
  'CCI',
  'CPT',
  'DLR',
  'EQIX',
  'EQR',
  'ESS',
  'EXR',
  'FRT',
  'HST',
  'INVH',
  'IRM',
  'KIM',
  'MAA',
  'O',
  'PEAK',
  'PLD',
  'PSA',
  'REG',
  'SBAC',
  'SPG',
  'UDR',
  'VICI',
  'VTR',
  'WELL',
  'WY'],
 'Energy': ['APA',
  'BKR',
  'COP',
  'CTRA',
  'CVX',
  'DVN',
  'EOG',
  'EQT',
  'FANG',
  'HAL',
  'HES',
  'KMI',
  'MPC',
  'MRO',
  'OKE',
  'OXY',
  'PSX',
  'PXD',
  'SLB',
  'TRGP',
  'VLO',
  'WMB',
  'XOM'],
 'Communication Services': ['ATVI',
  'CHTR',
  'CMCSA',
  'DIS',
  'DISH',
  'EA',
  'FOX',
  'FOXA',
  'GOOG',
  'GOOGL',
  'IPG',
  'LUMN',
  'LYV',
  'META',
  'MTCH',
  'NFLX',
  'NWS',
  'NWSA',
  'OMC',
  'PARA',
  'T',
  'TMUS',
  'TTWO',
  'VZ',
  'WBD']}

In [ ]:
df_sector = pd.DataFrame.from_dict(sector_dict, orient='index')

In [ ]:
df_sector

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
Health Care,A,ABBV,ABC,ABT,ALGN,AMGN,BAX,BDX,BIIB,BIO,...,None,None,None,None,None,None,None,None,None,None
Industrials,AAL,ALK,ALLE,AME,AOS,BA,CARR,CAT,CHRW,CMI,...,VRSK,WAB,WM,XYL,None,None,None,None,None,None
Consumer Discretionary,AAP,AMZN,APTV,AZO,BBWI,BBY,BKNG,BWA,CCL,CMG,...,None,None,None,None,None,None,None,None,None,None
Information Technology,AAPL,ACN,ADBE,ADI,ADP,ADSK,AKAM,AMAT,AMD,ANET,...,TDY,TEL,TER,TRMB,TXN,TYL,V,VRSN,WDC,ZBRA
Financials,ACGL,AFL,AIG,AIZ,AJG,ALL,AMP,AON,AXP,BAC,...,ZION,None,None,None,None,None,None,None,None,None
Consumer Staples,ADM,BF-B,CAG,CHD,CL,CLX,COST,CPB,EL,GIS,...,None,None,None,None,None,None,None,None,None,None
Utilities,AEE,AEP,AES,ATO,AWK,CEG,CMS,CNP,D,DTE,...,None,None,None,None,None,None,None,None,None,None
Materials,ALB,AMCR,APD,AVY,BALL,CE,CF,CTVA,DD,DOW,...,None,None,None,None,None,None,None,None,None,None
Real Estate,AMT,ARE,AVB,BXP,CBRE,CCI,CPT,DLR,EQIX,EQR,...,None,None,None,None,None,None,None,None,None,None
Energy,APA,BKR,COP,CTRA,CVX,DVN,EOG,EQT,FANG,HAL,...,None,None,None,None,None,None,None,None,None,None
Communication Services,ATVI,CHTR,CMCSA,DIS,DISH,EA,FOX,FOXA,GOOG,GOOGL,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
df_sector=df_sector.transpose()
df_sector

,Health Care,Industrials,Consumer Discretionary,Information Technology,Financials,Consumer Staples,Utilities,Materials,Real Estate,Energy,Communication Services
0,A,AAL,AAP,AAPL,ACGL,ADM,AEE,ALB,AMT,APA,ATVI
1,ABBV,ALK,AMZN,ACN,AFL,BF-B,AEP,AMCR,ARE,BKR,CHTR
2,ABC,ALLE,APTV,ADBE,AIG,CAG,AES,APD,AVB,COP,CMCSA
3,ABT,AME,AZO,ADI,AIZ,CHD,ATO,AVY,BXP,CTRA,DIS
4,ALGN,AOS,BBWI,ADP,AJG,CL,AWK,BALL,CBRE,CVX,DISH
...,...,...,...,...,...,...,...,...,...,...,...
71,None,None,None,TYL,None,None,None,None,None,None,None
72,None,None,None,V,None,None,None,None,None,None,None
73,None,None,None,VRSN,None,None,None,None,None,None,None
74,None,None,None,WDC,None,None,None,None,None,None,None
75,None,None,None,ZBRA,None,None,None,None,None,None,None

In [ ]:
df_sector.to_csv('sector_tick.csv', index=False)

In [ ]:
# Obtener la lista de símbolos de las empresas del índice S&P 500
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)
sp500_info = data_table[0]
tickers = sp500_info['Symbol'].tolist()

# Descargar los precios de cierre ajustados de todas las empresas
sp500_prices = yf.download(tickers, start="2000-01-01", end="2023-12-31")['Adj Close']

# Calcular los retornos diarios de todas las empresas
daily_returns = sp500_prices.pct_change()

# Calcular el retorno anualizado de cada empresa
annual_returns = ((1 + daily_returns.mean()) ** 252) - 1

# Obtener información adicional sobre cada empresa
sp500_info = sp500_info[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry' ]]
sp500_info.columns = ['Empresa', 'Nombre', 'Sector', 'Industria' ]

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BRK.B: No timezone found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [ ]:
# Unir los datos de precios y la información de las empresas
df = pd.concat([annual_returns, sp500_info.set_index('Empresa')], axis=1)

In [ ]:
df.to_csv('stockspy2.csv')

In [ ]:
# Obtener la lista de símbolos de las empresas del índice S&P 500
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)
sp500_info = data_table[0]
tickers = sp500_info['Symbol'].tolist()

# Descargar los precios de cierre ajustados de todas las empresas
sp500_prices = yf.download(tickers, start="2018-01-01", end="2023-12-31")['Adj Close']

# Calcular los retornos diarios de todas las empresas
daily_returns = sp500_prices.pct_change()

# Calcular el retorno anualizado de cada empresa
annual_returns = ((1 + daily_returns.mean()) ** 252) - 1

# Obtener información adicional sobre cada empresa
sp500_info = sp500_info[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry' ]]
sp500_info.columns = ['Empresa', 'Nombre', 'Sector', 'Industria' ]

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted

In [ ]:
# Unir los datos de precios y la información de las empresas
df1 = pd.concat([annual_returns, sp500_info.set_index('Empresa')], axis=1)

In [ ]:
from streamlit_caching import Cache

ModuleNotFoundError: No module named 'streamlit_caching'

In [ ]:
df1.to_csv('stockspy3.csv')

In [ ]:
tech='MSFT','AAPL','GOOGL','AMZN'

In [ ]:
epstech= YahooFinancials(tech)

In [ ]:
dftechs = pd.DataFrame.from_dict(epstechs, orient='index', columns=['Valor'])
dftechs

NameError: name 'epstechs' is not defined

In [ ]:
epstechdt=YahooFinancials(tech)

In [ ]:
snp_prices = yf.download(tech, start="2000-01-01", end="2023-04-30")['Adj Close']

[*********************100%***********************]  4 of 4 completed

In [ ]:
snp_prices.head()

                AAPL      AMZN  GOOGL       MSFT
Date
2000-01-03  0.850643  4.468750    NaN  36.361588
2000-01-04  0.778926  4.096875    NaN  35.133270
2000-01-05  0.790324  3.487500    NaN  35.503708
2000-01-06  0.721931  3.278125    NaN  34.314415
2000-01-07  0.756128  3.478125    NaN  34.762817

In [ ]:
snp_p = snp_prices.applymap(lambda x: str(x).replace('.', ','))
print(snp_p)

                          AAPL                AMZN              GOOGL  \
Date
2000-01-03  0,8506433367729187             4,46875                nan
2000-01-04  0,7789256572723389   4,096875190734863                nan
2000-01-05  0,7903238534927368   3,487499952316284                nan
2000-01-06  0,7219305634498596   3,278125047683716                nan
2000-01-07  0,7561275959014893  3,4781250953674316                nan
...                        ...                 ...                ...
2023-02-17   152,5500030517578   97,19999694824219   94,3499984741211
2023-02-21  148,47999572753906   94,58000183105469  91,79000091552734
2023-02-22  148,91000366210938   95,79000091552734   91,6500015258789
2023-02-23  149,39999389648438   95,81999969482422  90,88999938964844
2023-02-24   146,7100067138672                93,5  89,12999725341797

                          MSFT
Date
2000-01-03   36,36158752441406
2000-01-04  35,133270263671875
2000-01-05   35,50370788574219
2000-01-06  34,314414978027344
2000-01-07    34,7628173828125
...                        ...
2023-02-17  258,05999755859375
2023-02-21   252,6699981689453
2023-02-22  251,50999450683594
2023-02-23  254,77000427246094
2023-02-24  249,22000122070312

[5824 rows x 4 columns]

In [ ]:
snp_p

,AAPL,AMZN,GOOGL,MSFT
Date,,,,
2000-01-03,"0,8506433367729187","4,46875",nan,"36,36158752441406"
2000-01-04,"0,7789256572723389","4,096875190734863",nan,"35,133270263671875"
2000-01-05,"0,7903238534927368","3,487499952316284",nan,"35,50370788574219"
2000-01-06,"0,7219305634498596","3,278125047683716",nan,"34,314414978027344"
2000-01-07,"0,7561275959014893","3,4781250953674316",nan,"34,7628173828125"
...,...,...,...,...
2023-02-17,"152,5500030517578","97,19999694824219","94,3499984741211","258,05999755859375"
2023-02-21,"148,47999572753906","94,58000183105469","91,79000091552734","252,6699981689453"
2023-02-22,"148,91000366210938","95,79000091552734","91,6500015258789","251,50999450683594"
2023-02-23,"149,39999389648438","95,81999969482422","90,88999938964844","254,77000427246094"
2023-02-24,"146,7100067138672","93,5","89,12999725341797","249,22000122070312"

In [ ]:
snp_prices = snp_prices.fillna(method='ffill')
print(snp_p)

                          AAPL                AMZN              GOOGL  \
Date
2000-01-03  0,8506433367729187             4,46875                nan
2000-01-04  0,7789256572723389   4,096875190734863                nan
2000-01-05  0,7903238534927368   3,487499952316284                nan
2000-01-06  0,7219305634498596   3,278125047683716                nan
2000-01-07  0,7561275959014893  3,4781250953674316                nan
...                        ...                 ...                ...
2023-02-17   152,5500030517578   97,19999694824219   94,3499984741211
2023-02-21  148,47999572753906   94,58000183105469  91,79000091552734
2023-02-22  148,91000366210938   95,79000091552734   91,6500015258789
2023-02-23  149,39999389648438   95,81999969482422  90,88999938964844
2023-02-24   146,7100067138672                93,5  89,12999725341797

                          MSFT
Date
2000-01-03   36,36158752441406
2000-01-04  35,133270263671875
2000-01-05   35,50370788574219
2000-01-06  34,314414978027344
2000-01-07    34,7628173828125
...                        ...
2023-02-17  258,05999755859375
2023-02-21   252,6699981689453
2023-02-22  251,50999450683594
2023-02-23  254,77000427246094
2023-02-24  249,22000122070312

[5824 rows x 4 columns]

In [ ]:
snp_p

,AAPL,AMZN,GOOGL,MSFT
Date,,,,
2000-01-03,"0,8506433367729187","4,46875",nan,"36,36158752441406"
2000-01-04,"0,7789256572723389","4,096875190734863",nan,"35,133270263671875"
2000-01-05,"0,7903238534927368","3,487499952316284",nan,"35,50370788574219"
2000-01-06,"0,7219305634498596","3,278125047683716",nan,"34,314414978027344"
2000-01-07,"0,7561275959014893","3,4781250953674316",nan,"34,7628173828125"
...,...,...,...,...
2023-02-17,"152,5500030517578","97,19999694824219","94,3499984741211","258,05999755859375"
2023-02-21,"148,47999572753906","94,58000183105469","91,79000091552734","252,6699981689453"
2023-02-22,"148,91000366210938","95,79000091552734","91,6500015258789","251,50999450683594"
2023-02-23,"149,39999389648438","95,81999969482422","90,88999938964844","254,77000427246094"
2023-02-24,"146,7100067138672","93,5","89,12999725341797","249,22000122070312"

In [ ]:
snp_p.to_csv('tech_price.csv',sep=';')

In [ ]:
dataspy = yf.download("SPY", start="2000-01-01", end="2023-12-31")

[*********************100%***********************]  1 of 1 completed

In [ ]:
dataspy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.437500,95.308807,8164300
2000-01-04,143.531250,144.062500,139.640625,139.750000,91.581627,8089800
2000-01-05,139.937500,141.531250,137.250000,140.000000,91.745483,12177900
2000-01-06,139.625000,141.500000,137.750000,137.750000,90.271042,6227200
2000-01-07,140.312500,145.750000,140.062500,145.750000,95.513626,8066500
...,...,...,...,...,...,...
2023-02-17,406.059998,407.510010,404.049988,407.260010,407.260010,89169100
2023-02-21,403.059998,404.160004,398.820007,399.089996,399.089996,82655900
2023-02-22,399.519989,401.130005,397.019989,398.540009,398.540009,83742300
2023-02-23,401.559998,402.200012,396.250000,400.660004,400.660004,96242400
2023-02-24,395.420013,397.250000,393.640015,396.380005,396.380005,108145900

In [ ]:
dataspy=dataspy.applymap(lambda x: str(x).replace('.', ','))

In [ ]:
dataspy.to_csv('stock_price.csv', sep=';')

In [ ]:

# Obtener la lista de símbolos de las empresas del índice S&P 500 desde Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_table = pd.read_html(url)[0]
symbols = sp500_table['Symbol'].tolist()

for i in range(len(tickers)):
    if tickers[i] == 'BRK.B':
        tickers[i] = 'BRK-B'
    elif tickers[i] == 'BF.B':
        tickers[i] = 'BF-B'


# Descargar los precios históricos de cierre para cada empresa en la lista de símbolos
prices = yf.download(symbols, start='2000-01-01', end='2023-02-28')['Adj Close']


# Concatenar los precios de cierre de todas las empresas en un solo DataFrame
prices_df = pd.concat([prices[symbol].rename(symbol) for symbol in symbols], axis=1)

# Guardar los precios históricos de cierre en un archivo CSV
prices_df.to_csv('precios_historicos_sp500.csv')

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted